body {

    font-family: 'Oswald', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

.color1 {
    color: orange;
}

.diet-part {
    display: flex;

}

.diet-a-part {
    padding-left: 10%;
    padding-top: 5%;
}

.diet-part-1 {
    width: 50%;
    padding-left: 5%;
    margin-top: 7%;
    margin-bottom: 5%;

}

.diet-part-1 img {
    width: 80%;
}


.diet-part-2 {
    font-size: 60px;
}

.special-edits {
    color: rgb(128, 128, 128);
    font-size: 20px;
    margin-bottom: 40px;
}

.button-class {

    text-decoration: none;
    background-image: linear-gradient(orange, rgb(243, 101, 45));
    padding: 15px 35px;
    color: #fff;
    border-radius: 25px;

}

.diet-part-1s img {
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.text-decation {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    word-spacing: 3px;
    line-height: 1.8;
}

.bg-images {
    background-image: url(images/shapes/7.png);
}

.text-type {
    text-align: center
}

.recipie-main-part {
    display: flex;
    width: 50%;
}

.recipie-part-img {
    width: 90%
}

.recipie-part-img img {
    width: 100%;
}

.recipie-part-1 {
    margin-top: 5%;
    width: 70%;
    margin-right: 2%;
    margin-left: 10%;
    border-radius: 20px;
    box-shadow: 10px 5px 30px gray;
}

.recipie-part-2 {
    margin-top: 5%;
    width: 70%;
    margin-left: 2%;
    margin-right: 10%;
    border-radius: 20px;
    box-shadow: 10px 5px 30px gray;
}

.special-sec {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 10px 5px 30px gray;
}

.special-sec-1 {
    margin-left: 10%;
    margin-right: 10%;

}